{% extends "infohub/base.html" %}

{% block content %}
    <head>
        <title>Delete Post</title>
    </head>
    <body>
        <br><br><br><br><br><br>
        <center>
            <h2>
                <font color="#2c0f00">Malaria : infoHub</font>
            </h2>
        </center>
        <div style="width:600px; height:200px; margin:0 auto; background-color:#0d8b97;">
            <br>
            <center>
                <b>
                    <h3>
                        <font color="white">Delete Post</font>
                    </h3>
                </b>
            </center>
            <br>
            <form action="{% url 'webhub:delete_post' post_id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-offset-2">Are you sure you want to delete this Post?</label>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2">
                        <button type="submit" class="btn btn-default">Yes, delete this Post</button>
                        <a href="{% url 'webhub:malaria' %}" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
        <br><br><br><br>
    </body>
{% endblock %}
