{% extends "infohub/base.html" %}

{% block content %}
<head>
    <title>Malaria | infoHub</title>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center>
        <h2>
            <font color="#2c0f00"> Malaria : infoHub</font>
        </h2>
    </center>
    <div style="width:600px; height:auto; margin:0 auto; background-color:#0d8b97; padding-right:15px; padding-left:15px;">
        <br>
        <br>
        <a href="{% url 'webhub:create_post' %}" class="btn btn-default" style="float:right;">New Post</a>
        {% if post_list %}
            <table class="table">
            <thead>
                <tr>
                    <th>
                        <font color="white">
                            <h3>Post</h3>
                        </font>
                    </th>
                    <th>
                        <font color="white">
                            <h3>Action</h3>
                        </font>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for post in post_list %}
                    <tr>
                        <td>
                            <a href="{% url 'webhub:view_post' post.id %}"><font color="white">{{ post.title_post }}</font></a>
                        </td>
                        <td>
                            <a href="{% url 'webhub:edit_post' post.id %}" class="btn btn-default">Edit</a>
                            <a href="{% url 'webhub:delete_post' post.id %}" class="btn btn-default">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        {% else %}
            <center><font color="white"><h4>There are No Posts right now.</h4></font><br><br><br><br><br><br><br><br><br><br></center>
        {% endif %}
        </div>
    </div>
    <br>
    <br>
</body>
{% endblock %}
