<!-- 
Version : Phython/Django 2.7.6, PostgreSQL 9.3.4
Author : Vaibhavi Desai
Github username : desaivaibhavi
email : ranihaileydesai@gmail.com
-->

<!-- The change password page -->

<html>
<head>
	<title> Change Password </title>
	<style>
		#submit:disabled {
			cursor: not-allowed;
		}
	</style>
	<script>
		//NOTE this uses the == operator to compare, instead it could use the === or the !== 
		//Also keep in mind, no server side validation is provided. 
	
		function checkPasswords(){
			console.log("In the function");
			var newpassword = document.getElementById("newpassword1").value;
			var currentToValidate = document.getElementById("newpassword2").value;
			if(newpassword==currentToValidate&&currentToValidate.length == newpassword.length)
			{
				document.getElementById("submit").disabled = false;
				document.getElementById("guide").innerHTML = "";
				console.log("Equal");
			}
			if(!(newpassword==currentToValidate&&currentToValidate.length == newpassword.length))
			{
				document.getElementById("submit").disabled = true;
				document.getElementById("guide").innerHTML = "both passwords should match";
				console.log("Not Equal");
			}
		}
		function validateHack(){
			var newpassword = document.getElementById("newpassword1").value;
			var currentToValidate = document.getElementById("newpassword2").value;
			if(!(newpassword==currentToValidate&&currentToValidate.length == newpassword.length)){
				document.getElementById("submit").disabled = true;
				document.getElementById("guide").innerHTML = "not submitted, make sure passwords are same";
			}
			return newpassword==currentToValidate&&currentToValidate.length == newpassword.length;
		}
	</script>
</head>
<body>
    
    {% include "header.html" %}
    <br><br><br><br><br><br>
    
    <center>
        
        <font color="white">
        <div style="width:600px; height:370px; margin:0 auto; background-color:#0d8b97;">
        <br>
        
        <form action="/change_pass/" onsubmit="return validateHack();" method="POST">
            <h2>Change your password</h2><br>
		    <div>
                        <label for="oldpassword">Old password * </label>
			  <div class="input-group">
			      <input maxlength=100 type="password" class="form-control" name="oldpass" placeholder="Valid Password">
			  </div>
		      </div>				
		    
		    <div>
                        <label for="newpassword">New password * </label>
                        <div class="input-group">
                            <input maxlength=100 type="password" class="form-control" name="pass" id="newpassword1" placeholder="Valid Password">
			</div>
		    </div>
       
		
		    <div>
                        <label for="password">Confirm password * </label>
                        <div class="input-group">
                            <input maxlength=100 onkeyup="checkPasswords()" type="password" class="form-control" id="newpassword2" placeholder="Valid Password">
							<br><span id="guide"> </span> 
			</div>
		    </div>
            <br><br>
                        
                        <div class="controls">
                            <center><button disabled type="submit" id="submit" class="btn"><font color="black">Submit</font></button></center>
                        </div>
		</form>
	   </div>
        </font>
        
                
    </center>

    
    <br><br>
    {% include "footer.html" %}


    
</body>
</html>
<!-- 
	last modified on 16DEC 11:27 AEST time by Ishan Joshi for the Google Code in competition, 
	for further information regarding the algorithm you may contact me on 
	ijosh3@eq.edu.au -> email
-->
