<!-- 
Version : Phython/Django 2.7.6, PostgreSQL 9.3.4
Author : Vaibhavi Desai
Github username : desaivaibhavi
email : ranihaileydesai@gmail.com
-->

<!-- The change password page -->

<html>
<head>
	<title> Change Password </title>
</head>
<body>
    
    {% include "header.html" %}
    <br><br><br><br><br><br>
    
    <center>
        
        <font color="white">
        <div style="width:600px; height:370px; margin:0 auto; background-color:#0d8b97;">
        <br>
        
        <form action="/change_pass/" method="POST">
            <h2>Change your password</h2><br>
		    <div>
                        <label for="oldpassword">Old password * </label>
			  <div class="input-group">
			      <input maxlength=100 type="password" class="form-control" name="oldpass" placeholder="Valid Password">
			  </div>
		      </div>				
		    
		    <div>
                        <label for="newpassword">New password * </label>
                        <div class="input-group">
                            <input maxlength=100 type="password" class="form-control" name="pass" placeholder="Valid Password">
			</div>
		    </div>
       
		
		    <div>
                        <label for="password">Confirm password * </label>
                        <div class="input-group">
                            <input maxlength=100 type="password" class="form-control" placeholder="Valid Password">
			</div>
		    </div>
            <br><br>
                        
                        <div class="controls">
                            <center><button type="submit" class="btn"><font color="black">Submit</font></button></center>
                        </div>
		</form>
	   </div>
        </font>
        
                
    </center>

    
    <br><br>
    {% include "footer.html" %}


    
</body>
</html>
