<!-- 
Version : Phython/Django 2.7.6, PostgreSQL 9.3.4
Author : Vaibhavi Desai
Github username : desaivaibhavi
email : ranihaileydesai@gmail.com
-->

<!-- the welcome page after log in -->
<html>
<head>
	<title> Dashboard </title>
</head>
<body>
    {% include "header.html" %}
    <br><br><br><br><br><br>
    
<!--
    <p><a href="/profile/?id={{pcuser.user.id}}">{{pcuser.user.first_name}}</p>
    <p><a href="/logout_do/">LogOut</a></p>
-->
    
    <b><center><h2><font color="#2c0f00">PEACE CORPS HUB</font></h2></center></b><br>
    <div class="row">
    <div class="col-md-6">
    <div style="width:600px; height:300px; margin:0 auto; background-color:#0d8b97;">
    <br>
        <center><h2><a href="/malaria/"><font color="white"><u>Malaria</u></a></h2></center>
    
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
            <br>Tiborem udělá nám Helenka nakrájí a štyry pláty, pěkně nahrubo, Láďa se vaří. Trochu mouky jen zezhora to spojit. Nudle sou dozlatova.</font><br><br>
            <button class="btn" onclick="window.location.href='/malaria/'">Go to Malaria</button>
        </div>
        <div class="col-md-6">
            <img src="http://i.imgur.com/y8lfLmz.jpg" class="img-responsive" style="width:240px; height:200px; padding-bottom:5px; padding-top:10px;">
        </div>
    </div>
        
    </div>
    </div>
    
    <div class="col-md-6">
    <div style="width:600px; height:300px; margin:0 auto; background-color:#0d8b97;">
    <br>
        <center><h2><a href="/peacetrack/"><font color="white"><u>PeaceTrack</u></a></h2></center>
    
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
            <br>Tiborem udělá nám Helenka nakrájí a štyry pláty, pěkně nahrubo, Láďa se vaří. Trochu mouky jen zezhora to spojit. Nudle sou dozlatova.</font><br><br>
            <button class="btn" onclick="window.location.href='/peacetrack/'">Go to Peacetrack</button>
        </div>
        <div class="col-md-6">
            <img src="http://i.imgur.com/NJmjivW.jpg" class="img-responsive" style="width:240px; height:200px; padding-bottom:5px; padding-top:10px;">
        </div>
    </div>
        
    </div>
    </div>
    
    </div>
    <br><br>
    {% include "footer.html" %}

    
</body>
</html>
