<!-- 
Version : Phython/Django 2.7.6, PostgreSQL 9.3.4
Author : Vaibhavi Desai
Github username : desaivaibhavi
email : ranihaileydesai@gmail.com
-->

<!-- The forget password page -->

<html>
<head>
	<title> Forget Password </title>
</head>
<body>
    
    {% include "header.html" %}
    <br><br><br><br><br><br>
    
    <center>
    <font color="white">
    <div style="width:600px; height:350px; margin:0 auto; background-color:#0d8b97;">
        
        
        <form action="/forgot_pass/" method="post" class="form" role="form">
            <br>
            <h2>Forgot Password</h2>
            <br><br>
            
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <input maxlength=50 class="form-control" name="username" placeholder="User Name" type="text">
                </div>
                <div class="col-md-3">
                </div>
            </div>
            
                <br>
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <input maxlength=100 class="form-control" name="email" placeholder="Email ID" type="text" required>
                </div>
                <div class="col-md-3">
                </div>
            </div>
                <br>
                <br>
                <div class="col-md-4 col-md-offset-4">
                <label class="control-label" for="singlebutton"></label>
                <div class="controls">
                    <button id="singlebutton" name="singlebutton" class="btn"><font color="black">Email Me</font></button>
                </div>
                </div>
       
            </form>
            
            
    </div></div></font></center>
    
        
    <br><br><br>
    {% include "footer.html" %}


    
</body>
</html>
