<!-- 
Version : Phython/Django 2.7.6, PostgreSQL 9.3.4
Author : Vaibhavi Desai
Github username : desaivaibhavi
email : ranihaileydesai@gmail.com
-->

<!-- page for about us -->
<html>
<head>
	<title> Help PC </title>
</head>
<body>
    {% include "header.html" %}
    <br><br><br><br><br><br><center>
    <p>Here the help information about PC would be shown</p></center>
    
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    {% include "footer.html" %}
    
</body>
</html>

