<!-- 
Version : Phython/Django 2.7.6, PostgreSQL 9.3.4
Author : Vaibhavi Desai
Github username : desaivaibhavi
email : ranihaileydesai@gmail.com
-->



<!-- page showing information about posts on Malaria -->
<html>
<head>
	<title>Malaria | infoHub</title>
</head>
<body>
    {% include "header.html" %}
    <br><br><br><br><br><br>
    <center><h2><font color="#2c0f00"> Malaria : infoHub</font> </h2></center>
    <div style="width:600px; height:auto; margin:0 auto; background-color:#0d8b97; padding-right:15px; padding-left:15px;">
    <br><br>
    <button type="button" class="btn" onclick="window.location.href='/post_form/'" style="float:right;">New Post</button>
    

    {%if all_posts|length ==0 %}
        <center><font color="white"><h4>There are No Posts right now.</h4></font><br><br><br><br><br><br><br><br><br><br></center>
    {% else %}
        
    <table class="table">
        <thead>
            <tr>
                <th><font color="white"><h3>Post</h3></font></th>
                <th><font color="white"><h3>Action</h3></font></th>
            </tr>
        </thead>
        
        <tbody>
            
            {% for post in all_posts %}
            <tr>
            <td><a href="/view_post/?key={{post.id}}"><font color="white">{{post.title_post}}</font></a></td>
            <td><button class="btn" type="button" onclick="window.location.href='/edit_post_page/?key={{post.id}}'">Edit</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn" type="button" onclick="window.location.href='/delete_post/?postid={{post.id}}'">Delete</button></td></tr>
            {% endfor %}
    
    
        </tbody>
        
    </table>
    {% endif %}
    
    
    </div>
    </div>
    <br><br>
    {% include "footer.html" %}

    
</body>
</html>
