<!-- 
Version : Phython/Django 2.7.6, PostgreSQL 9.3.4
Author : Vaibhavi Desai
Github username : desaivaibhavi
email : ranihaileydesai@gmail.com
-->

<!-- Add new post -->
<html>
    <head>
        <title>Add New Post</title>
    </head>
    <body>
        {% include "header.html" %}
        <br><br><br><br><br><br>
        <center><h2><font color="#2c0f00"> Malaria : infoHub</font> </h2></center>
        
        <div style="width:600px; height:300px; margin:0 auto; background-color:#0d8b97;">
        <br>
        <center><b><h3><font color="white">New Post</font></h3></b></center>
        <br>
        
        <form action="/post_new/" method="post">
        
        <div class="row">
            <div class="col-md-1">
            </div>
             <div class="col-md-5">
                    <p><font color="white"><h4>Title</h4></font></p>
            </div>
            <div class="col-md-6">
                    <input type="text" name="title">
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-5">
                    <p><font color="white"><h4>Descrpition</h4></font></p>
            </div>
            <div class="col-md-6">
                    <textarea name="description" rows="5"></textarea>
<!--                    <input type="text" name="description">-->
            </div>
        </div>
        <br><center>
            
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <input type="submit" name="submit" value="SEND" class="btn">
            </div>
            <div class="col-md-3">
                <button class="btn"><a href="#"><font color="black">CANCEL</font></a></center></button>
            </div>
            <div class="col-md-3">
            </div>
        </div>
        </form>
            
        </div>
            
        <br><br><br>
        {% include "footer.html" %}
        
    </body>
</html>