<!-- 
Version : Phython/Django 2.7.6, PostgreSQL 9.3.4
Author : Vaibhavi Desai
Github username : desaivaibhavi
email : ranihaileydesai@gmail.com
-->

<!-- page for peace track -->
<html>
<head>
	<title> PeaceTrack </title>
</head>
<body>
    {% include "header.html" %}
    <br><br><br><br><br><br>
    <center>
        <h4><p><a href="/summary/">Summary</a></p>
        <p><a href="/volunteer/">Volunteer</a></p>
        <p>Graph</p></h4>
    </center>
    
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    {% include "footer.html" %}
    
</body>
</html>
