<!-- 
Version : Phython/Django 2.7.6, PostgreSQL 9.3.4
Author : Vaibhavi Desai
Github username : desaivaibhavi
email : ranihaileydesai@gmail.com
-->


<!-- page for the profile of a user -->
<html>
    <head>
        <title>User Profile | {{profiler.first_name}}</title>
    </head>
    <body>
        {% include "header.html" %}
        <br><br><br><br><br><br>
        
        <div style="width:600px; height:400px; margin:0 auto; background-color:#0d8b97;">
        <br>
        <center><b><h3><font color="white">User Profile</font></h3></b></center>
        <br>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-6">
                <font color="white"><br>
                <h4><b>First Name    :</b>  {{profiler.user.first_name}}</h4>
                <h4><b>Last Name     :</b>  {{profiler.user.last_name}}</h4>
                <h4><b>Email Address :</b>  {{profiler.user.email}}</h4>
                <h4><b>Mobile       :</b>  {{profiler.phone}} </h4>
                <h4><b>Gender        :</b>  {{profiler.gender}}</h4>
                <h4><b>Location      :</b>  {{profiler.location}} </h4></font>
                
            </div>
            <div class="col-md-4">
                <figure>
                    <img src="http://i.imgur.com/dnjclWV.png" class="img-responsive" style="width:350px; height:180px; border:2px solid #2c0f00;">
                    <figcaption style="background-color: #2c0f00; padding-top:1px; padding-bottom:1px;"><center><font color="#e2d7bb"><b><h4>User {{profiler.user}}</h4></b></font></center></figcaption>
                </figure>
            </div>
            
            <div class="col-md-1">
            </div>
        </div><br>
        <center><button class="btn" type="button" onclick="window.location.href='/edit_profile_page/?id={{profiler.id}}'">Edit Profile</button></center>
        
        
        </div>
        <br><br>
        {% include "footer.html" %}
    </body>
</html>