<!-- 
Version : Phython/Django 2.7.6, PostgreSQL 9.3.4
Author : Vaibhavi Desai
Github username : desaivaibhavi
email : ranihaileydesai@gmail.com
-->

<!-- The reset password page -->

<html>
<head>
	<title> Reset Password </title>
</head>
<body>
    
    {% include "header.html" %}
    <br><br><br><br><br><br>
    
    <center>
    <br>
     <div style="width:600px; height:320px; margin:0 auto; background-color:#0d8b97;">
        <br>
    
                <form action="/change_pass/" method="post" class="form" role="form">
                    <font color="white"><h2>Reset your password</h2></font><br>    
                    
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8">
                                <input maxlength=100 class="form-control" name="pass" placeholder="New Password" type="password"
                        required />
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                    
                    
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8">
                                <br>
                                <input maxlength=100 class="form-control" placeholder="Repeat Password" type="password" required/><br>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>    
                    
                    
                        
                        <input maxlength=100 class="form-control" id = "reset_pass"  name = "reset_pass" type="checkbox" checked value="{{reset_pass}}" style="display:none;"/>
                        
                        <button id="signup" name="singlebutton" class="btn">Reset Password</button>
                    </form>
                    
    </div>

        
    </center>

    <br><br><br><br>
    {% include "footer.html" %}


    
</body>
</html>
