<!-- 
Version : Phython/Django 2.7.6, PostgreSQL 9.3.4
Author : Vaibhavi Desai
Github username : desaivaibhavi
email : ranihaileydesai@gmail.com
-->

<!-- the summary page -->


<html>
<head>
	<title>PeaceTrack | Summary</title>
</head>
<body>
    {% include "header.html" %}
    <br><br><br><br><br><br>
    <center><h2><font color="#2c0f00"> PeaceTrack : Summary</font> </h2></center>
    <div style="width:600px; height:auto; margin:0 auto; background-color:#0d8b97; padding-right:15px; padding-left:15px;">
    <br><br>
    <font color="white">
    
    <b>Details by Post <br><br></b>
    
    {%if all_post|length ==0 %}
        <center><font color="white"><h4>There are No Posts right now.</h4></font><br><br><br><br><br><br><br><br><br><br></center>
    {% else %}
        
        {% for post in all_post %}
        <font color="white">
        Name of the post : {{post.post_name}} <br>
        Region : {{post.post_region}} <br>
        Sector : 
        {% for item in post.sector.all() %}
            {{ item }}
        {% endfor %}    
        <br>
        {% endfor %}

    {% endif %}
    <br>
    <b>Details by Sector <br><br></b>
    
    {%if all_sector|length ==0 %}
        <center><font color="white"><h4>There are No Sectors right now.</h4></font><br><br><br><br><br><br><br><br><br><br></center>
    {% else %}
        
        {% for sect in all_sector %}
        <font color="white">
            
            Name of the sector : {{sect.sector_name}} <br>
            Description of the sector : {{sect.sector_desc}} <br>
            Code : {{sect.sector_code}} <br>
        
        
        {% endfor %}

    {% endif %}
        
    <br>
    <b>Details by Project <br><br></b>
    
    {%if all_project|length ==0 %}
        <center><font color="white"><h4>There are No Projects right now.</h4></font><br><br><br><br><br><br><br><br><br><br></center>
    {% else %}
        
        {% for proj in all_project %}
        <font color="white">
            Name of the project : {{proj.project_name}} <br>
            Purpose : {{proj.project_purpose}} <br>
            Sector : {{proj.project_sector}} <br>
            
        
        
        {% endfor %}

    {% endif %}
        
    <br>    
    <br>    
        
    </font>
    </div>
    <br><br>
    {% include "footer.html" %}

    
</body>
</html>
